h1{
    background-color: hotpink;
    display:flex;
    justify-content: space-around;
}
.grid{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.title{
    display:flex;
    background-color: gold;
    justify-content: space-around;
}
.item{
border: solid;
background-color: wheat;
}
.footer{
    display:flex;
    border:solid;
    justify-content: space-evenly;
    background-color: thistle;
}